[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
solana01 = "6hS1dDSbF2XezLs9JDYNMw8DJiFBU1iRLPfbpEpT5JQ9"

[programs.testnet]
my_program = "6hS1dDSbF2XezLs9JDYNMw8DJiFBU1iRLPfbpEpT5JQ9"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "testnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npm run test"
